*{
	font-family:微軟正黑體;
	 /* border: solid 1px ;	  */
  -webkit-overflow-scrolling: touch;
} 


html {
  scroll-behavior: smooth;
}


body {
  margin: 0; 
  font-family:Arial, Helvetica, sans-serif;
}


p{
	font-family:微軟正黑體;
  font-size: 18px;
}

li a {
  font-size: 15px;
}




#navbar { 
  transition: top 0.3s;
}

.title_fonts{
  font-size: 25px;  
  color:#2e4e7d;  
}

.cos_center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.coin_img{
  width: 100px;
  height: 100px;
  margin: 36px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition:  0.3s;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.card{
  border:1px solid #bcbcbc; 
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  background-color: white;
}

.card h1{
  font-size: 28px;
  font-weight: bold;
}

.container h2{
  color: #8d8e8e;
  font-size: 20px;
}


.ETH{
  background-image: url(./function_img/ETH.png); 
}

.USDT{
  background-image: url(./function_img/tether-usdt.png);
}

.Webs{
  background-image: url(./function_img/Webs.png);
}

.WBC{
  background-image: url(./function_img/WBC.png);
}




.footer{
  background-color: #616161;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;  
  padding: 30px;
  text-align: center;
  color: white;  
}





@media (max-width: 767px) { 
 
  .coin_img{    
    margin: 36px 36px 12px 36px;    
  }

 
}



@media (min-width: 768px) and (max-width: 1024px){ 
  
  .card h2{
    font-size: 16px;
  }

  .card h1 {
    font-size: 16px;
  }
 
}





