*{
	font-family:微軟正黑體;
	 /* border: solid 1px ;*/	  
	font-family:Arial;
	
} 

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

p{
	font-family:微軟正黑體;
}

/* Fonts */
@font-face {
    font-family: 'aileronbold';
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-bold-webfont.eot');
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-bold-webfont.woff') format('woff'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-bold-webfont.ttf') format('truetype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-bold-webfont.svg#aileronbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronlight';
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-light-webfont.eot');
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-light-webfont.woff') format('woff'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-light-webfont.ttf') format('truetype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-light-webfont.svg#aileronlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronregular';
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-regular-webfont.eot');
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-regular-webfont.woff') format('woff'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-regular-webfont.ttf') format('truetype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-regular-webfont.svg#aileronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronbold_italic';
    src: url('fonts/aileron-bolditalic-webfont.eot');
    src: url('fonts/aileron-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aileron-bolditalic-webfont.woff') format('woff'),
         url('fonts/aileron-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/aileron-bolditalic-webfont.svg#aileronbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronitalic';
    src: url('fonts/aileron-italic-webfont.eot');
    src: url('fonts/aileron-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aileron-italic-webfont.woff') format('woff'),
         url('fonts/aileron-italic-webfont.ttf') format('truetype'),
         url('fonts/aileron-italic-webfont.svg#aileronitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronlight_italic';
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-lightitalic-webfont.eot');
    src: url('http://www.spendthrift.me/themelogic/fonts/aileron-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-lightitalic-webfont.woff') format('woff'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-lightitalic-webfont.ttf') format('truetype'),
         url('http://www.spendthrift.me/themelogic/fonts/aileron-lightitalic-webfont.svg#aileronlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* General */
html, body {
	font-size: 16px;
	color: #222626;
}

/* Colors */
.black {
	color: #222626;
}
.black-bg {
	background: #222626;
}

.white {
	color: #fff;
}
.white-bg {
	background: #fff;
}

.gray {
	color: #6f7577;
}
.gray-bg {
	background: #6f7577;
}

.blue {
	color: #179ecc;
}
.blue-bg {
	background: #179ecc;
}

.green {
	color: #00a79d;
}
.green-bg {
	background: #00a79d;
}

.orange {
	color: #f26e25;
}
.orange-bg {
	background: #f26e25;
}

.photo-bg {
	background: url('img/demo-bg.jpg') no-repeat left top;
	background-position: center;
	background-size: cover;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-family: 'aileronbold', 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: normal;
	line-height: 1.5em;
	color: #222626;
}

h1 {
	font-size: 48px;
	}
	
h2 {
	font-size: 38px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 12px;
}

/* Weights */
.light {
	font-family: 'aileronlight';
}
.italic {
	font-family: 'aileronitalic';
}
.regular {
	font-family: 'aileronregular';
}
.bold {
	font-family: 'aileronbold';
}

p, ul, ol, li, form {
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: normal;
	font-size: ;
	line-height: 1.6em;
}

ul.checkmark {
	list-style-image: url('img/checkmark.png');
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Links and Buttons */
a {
	color: inherit;
	border-bottom: 1px dashed #cfcecc;
	text-decoration: none;
}
a:hover, a:visited, a:active {
	/*border-bottom: 1px solid #222626;*/
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.button {
	border-radius: 10px;
	border: none;
	display: inline-block;
	text-decoration: none;
	/*box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);*/
	font-family: 'aileronbold';
	text-transform: lowercase;
	/*border-bottom:1px solid rgba(0, 0, 0, 0.25);*/
}

.button.small {
	padding: 10px 20px;
	margin: 10px;
	font-size: 16px;
}
.button.medium {
	padding: 15px 30px;
	margin: 15px;
	font-size: 18px;
}
.button.large {
	padding: 20px 40px;
	margin: 20px;
	font-size: 20px;
}
/* Images */


img.small {
	width: 320px;
	height: auto;
}

img.medium {
	width: 480px;
	height: auto;
}

img.large {
	width: 640px;
	height: auto;
}

p img {
	padding: 10px;
	margin: 20px;
	border: 1px solid #cfcecc;
}
.right {
	float: right;
}
.left {
	float: left;
}

/* Panel */
.panel {
	padding: 20px;
	margin: 20px;
}

/* Assorted */
hr.solid {
    border: 0;
    border-bottom: 1px solid #cfcecc;
    background: #fff;
}
hr.dashed {
    border: 0;
    border-bottom: 1px dashed #cfcecc;
    background: #fff;
}

/* Form */
form {
	border: 1px solid #cfcecc;
	padding: 20px
}
fieldset {
	border: none;
}
input, select, label {
	display: block;
	width: 100%;
	max-width: 600px;
	font-size: 13px;
}
input, select {
	margin: 0px 0px 20px 0px;
	border: none;
}
input:focus, select:focus {
	outline-color: #cfcecc;
	outline-width: 2px;}
label {
	font-family: 'aileronlight';
	font-size: 16px;
}

label sup {
	font-family: 'Helvetica Neue', helvetica, arial;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 9px;
	color: #cfcecc;
	display: inline;
}

select {
	height: 40px;
	border: 1px solid #cfcecc;
	border-radius: 5px;
	background: #fff;
}

input[type=text], input[type=email], input[type=password], input[type=radio], input[type=tel], input[type=checkbox] {
	padding: 10px;
	height: 20px;
	border: 1px solid #cfcecc;
	border-radius: 5px;
	background: #fff;
}
input[type=radio], input[type=checkbox] {
	width: 25px;
	float: left;
}


/* Things you probably don't want on your site because it hides the main nav, centers a large logo in the header, and things like that. */
.LogoImg.inline {
    width: 100%;
}
.LogoImg > a {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 609px;
}
.HLWelcome.HLWelcomeHeader {
    display: none;
}
#MPAuxNav ul.level1 li a {
    border-right: medium none;
}
#AuxMenu ul.level1 > li + li {
    margin-left: 10px;
}
#NAV.row.traditional-nav {
    border-bottom: 1px solid #fafafa;
}
#NAV.row.traditional-nav > * {
    display: none;
}
#BreadCrumb {
    display: none;
}
div#RightMenuColumn {
display: none;
}
div#ContentColumn.col-md-10 {
width: 100%;
}

.logo_name{

	font-family:Ailerons;

}

.header {
  
  display: flex;
  justify-content: center;
  align-items: center;	
  flex-direction: column;	
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(68, 134, 170, 0.7)),url(./milky-way-illustration-1169754.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px; 	
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  color: white;
  background-attachment: fixed;
}

#navbar {
  overflow: hidden;
  background-color: #4486aa;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #376984;  
  transition: 0.8s
}

#navbar a.active {
  background-color: #376984;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

