*{
	font-family:微軟正黑體;
	 /* border: solid 1px ;*/	  
	font-family:Arial;
	
} 


body {
  margin: 0;
  font-size: 28px;
  font-family:Arial, Helvetica, sans-serif;
}


p{
	font-family:微軟正黑體;
}




.logo_name{

	font-family:"ailerons";

}

.header {
  
  display: flex;
  justify-content: center;
  align-items: center;	
  flex-direction: column;	
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(68, 134, 170, 0.7)),url(./milky-way-illustration-1169754.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px; 	
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  color: white;
  background-attachment: fixed;
}

#navbar {
  overflow: hidden;
  background-color: #4486aa;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #376984;  
  transition: 0.8s
}

#navbar a.active {
  background-color: #376984;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

