*{
  font-family:微軟正黑體;
/*border: solid 1px ;	*/  
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
} 


html {
  scroll-behavior: smooth;
}


body {
  margin: 0; 
  font-family:Arial, Helvetica, sans-serif;
}


p{
	font-family:微軟正黑體;
    font-size: 18px;
}

li a {
  font-size: 15px;
}

#navbar { 
  transition: top 0.3s;
}



.company_logo{
  margin: 8px;
}

.logo_name{

	font-family:"ailerons";

}

.cos_center{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.price_card{
	display: flex;	
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	border-radius: 8px;
	margin: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	padding: 10px;
	border:solid 1px #d3d3d3;
	transition: 0.5s;

}


.price_card:hover{	
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);	
}

.price_card p{
	margin: 20px 0px;
	font-size: 28px;
	font-weight: bold;
	color: #4c4e4f;
}



.price_content{	
	display: flex;	
	align-items: center;
	justify-content: center;
	flex-direction: column;	
	padding: 20px; 
	border-radius: 8px;
	border:solid 1px #d3d3d3;
	margin-bottom: 10px; 
}

.price_title{
	color: #f7a21d;
	margin-bottom: 20px;
	font-size: 22px;
}

.price_item{
	margin: 30px 10px 0px ;
	font-size: 12px;
}

.price_item li{	
	line-height:30px;
	color: #5a6268;
	list-style: none;
  	padding-left: 0;
}

.price_item ul{	
	line-height:30px;	
	font-weight: bold;
	list-style: none;
  	padding-left: 0;
}


.cos_font_01{
	font-size: 14px;
}




@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }


  
}

@media only screen and (max-width: 768px) {
  .price_card p{	
	font-size: 23px;	
 }


  
}





@media (max-width: 991px) { 
 
  

}



